<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2>Contact List</h2>
      <a href="/contact/add" class="btn btn-primary badge m-2">Add Contact</a>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Mobile Number</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <% if (contacts.length < 1) { %>
            <tr>
              <td colspan="4">
                <div class="alert alert-warning" role="alert">
                  Data kontak kosong ! <a href="#" class="alert-link">Silahkan klik</a> untuk menambah kontak baru.
                </div>
              </td>
            </tr>
          <% } %>
          <% contacts.forEach((contact, i) => { %>
          <tr>
            <th scope="row"><%= i + 1 %></th>
            <td scope="row"><%= contact.id%></td>
            <td><%= contact.nama %></td>
            <td><%= contact.nohp %></td>
            <td>
              <a href="/contact/<%= contact.id %> " class="btn badge rounded-pill bg-primary"><i class="bi bi-info-circle-fill"></i> Detail</a>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>
</div>
